* { margin: 0; padding: 0; }
*, *::before, *::after { box-sizing: border-box; }

body { min-height: 100dvh; }
input, button, textarea, select { font: inherit; }

p { text-wrap: pretty; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }

img, video, svg { height: auto; max-width: 100%; }

@media (prefers-reduced-motion: reduce)  {
    *, *::before, *::after { 
        animation-duration: 0.01ms !important; 
        animation-iteration-count: 1 !important; 
        transition-duration: 0.01ms !important; 
        scroll-behavior: auto !important;
        transition: none;
    }
}

body {
	display: flex;
	color: #ddd;
	background: url(./img/background.jpg);
	background-position: center center;
	background-size: cover;
}
.main {
	width: 100%;
}
.middle {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.middle h1 {position: absolute;}
.middle h2 {position: absolute;}
.negative-indent{text-indent: -999999px;}
.logo {
	background: rgba(0,48,31,0.75);
	height: 530px;
	width: 750px;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 90vw;
	max-height: 85vh;
	position: relative;
}
.logo img {
	width: 70%;
	margin: auto;
	position: relative;
	display: block;
}

.darker-grotesque-medium {
  font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.frase {
	position: absolute;
	width: 70%;
	bottom: 10%;
	font-size: 1.5rem;
	min-height: 100px;
	color:#ffe4d2
}